<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Free Exam Topics - {{ exam_name }}</title>
</head>
<body>

    <h1>{{ exam_name }}</h1>
    <p>Provider: {{ provider_name }} ({{ provider_key }})</p>


    <a href="{{ url_for('main.provider', provider=provider_key) }}">Back to exams</a>
    <a href="{{ url_for('main.index') }}">Back to providers</a>

    <h3 id="stage"></h3>
    <p id="message"></p>

    <div id="progress-container" style="display:none;">
    <progress id="progress" value="0" max="100"></progress>
    <span id="progress-text"></span>
    </div>

    <div id="questions"></div>

    <script src="{{ url_for('static', filename='js/exam_progress.js') }}"></script>
</body>
</html>
